.btn{
  &:link,
  &:visited{
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 3rem;
    margin-top: 5rem;
    transition:all .2s;
    box-shadow: 0px 1rem 1.5rem grey;
    position: relative;
    animation: moveUpBtn 1s ;
  }
  &:hover{
    transform: translateY(-3px);
  }
  &:active{
    transform: translateY(-1px);
    box-shadow: 2px 0px 2px rgba(128, 128, 128, 0.308);
  }
  &--white{
    background-color: #fff;
    color:$color-grey;
  }
  &::after{
    content:'';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: all .3s;
  }
  &--white::after{
    background-color: white;
  }
  &:hover::after{
    transform: scale(1.4);
    opacity: 0;
  }
}

.btn-text{
  &:link,
  &:visited{
    color:$color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding:5px;
    font-size: $main-font-size;
    transition: all .2s; 
    border-radius: 0.2rem;
  }
  &:hover{
    color:white;
    transform:translateY(-3px);
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.226);
  }
  &:active{
    transform:translateY(0);
  }
}