.feature-box{
  background-color: rgba(255, 255, 255, 0.795);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
  border-radius: 3px;
  height: 100%;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.24);
  transition: all .3s;

  &__icon{
    margin:1rem 0;
    font-size: 4.2rem;
    background-image: linear-gradient(to right,
  $color-primary-light,
  $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  }
  &:hover{
    transform: translateY(-1.5rem) scale(1.06);
  }
  &__text{
    font-size: 1.6rem;
  }
}